<div class="row">
  <div class="col m4 center card chat-profile-card">
    <p><u>Doctor info</u></p>
    <div class="col m6">
      <p>first name: </p>
      <p>last name: </p>
      <p>phone: </p>
      <p>skype: </p>
    </div>
    <div class="col m6">
      <p><%= @doctor.first_name %></p>
      <p><%= @doctor.last_name %></p>
      <p><%= @doctor.phone_number %></p>
      <p><%= @doctor.skype_username %></p>
    </div>
  </div>
  <div class="col m4">
    <div class="row">
      <div class="col m12 center">
        <p>Chat about: <%= @request.description %></p>
      </div>
    </div>

    <div class="row">
      <div class="col m12">
        <div class="chatbox">
        Conversation:
          <div class="row">
            <% @chat_messages.each do |message| %>
              <% if message.sender.role == "doctor"%>
                <div class="col m12">
                  <div class="message">
                    <p class="text-doctor"><%= message.content %> <br> <small><%= time_ago_in_words(message.created_at) %> ago</small></p>
                  </div>
                </div>
              <% end %>
              <% if message.sender.role == "patient"%>
                <div class="offset-m6 col m6">
                <div class="message">
                  <p class="text-patient"><%= message.content %>  <br> <small><%= time_ago_in_words(message.created_at) %> ago</small></p>
                </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <%= simple_form_for [ChatMessage.new], url: doctor_dashboard_chat_session_new_message_url(@chat_session), method: :post do |f| %>
            <%= f.text_field :content, placeholder: "write your message here and press [enter]" %>
            <%= f.submit "send", style: "display:none;"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col m4 center card chat-profile-card">
    <p>Patient info</p>
    <p><%= @patient.first_name %></p>
    <p><%= @patient.last_name %></p>
  </div>
</div>
