



<div class="row">
  <div class="col l4">
    <%= simple_form_for User.new, url: users_path, html: { method: :get } do |f| %>
    <%= f.select :specialisation,
          ["Audiologist", "Allergist", "Anesthesiologist", "Cardiologist", "Dentist", "Dermatologist", "Endocrinologist", "Epidemiologist", "Gynecologist", "Immunologist", "Infectious Disease Specialist", "Internal Medicine Specialist", "Medical Geneticist", "Microbiologist", "Neonatologist", "Neurosurgeon", "Obstetrician","Oncologist", "Orthopedic Surgeon", "ENT Specialist", "Podiatrist", "Pediatrician", "Physiologist", "Plastic Surgeon", "Podiatrist", "Psychiatrist", "Radiologist", "Rheumatologist", "Surgeon" , "Urologist"],
          include_blank: 'Choose Specialist' %>
    <%= f.input  :address %>
    <%= link_to 'Reset', users_path, class: 'btn' %>
    <%= f.submit "Search", class: 'btn' %>
    <% end %>
  </div>
  <div class="col l8">
    <table>
      <thead>
        <tr>
          <th>List of Doctors</th>
          <th colspan="4"></th>
          <th>distance</th>
        </tr>
      </thead>
      <tbody>
        <% @doctors.each do |doctor| %>
          <tr>
            <td><%= doctor.username %></td>
            <td><%= doctor.last_name %></td>
            <td><%= doctor.specialisation %> </td>
            <td><%= doctor.address %></td>
            <td><%= link_to "Create request", new_user_request_path(doctor) %></td>
            <td><%= rand(5..300) %> km away</td>
          </tr>
        <% end %>
      </tbody>

    </table>

  </div>
</div>

