<div class="text-center">
    <%= simple_form_for :user, url: users_path, html: { method: :get } do |f| %>
    <%= f.input :location, placeholder: 'Doctor address', input_html: {name: :address } %>
    <%= f.submit "Search" %>
    <% end %>
  </div>


<table>
  <thead>
    <tr>
      <th>List of Doctors</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.username %></td>
        <td><%= doctor.last_name %></td>
        <td><%= doctor.address %></td>
        <td><%= link_to "Create request", new_user_request_path(doctor) %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<div id="map" style="width: 100%; height: 600px;"></div>


  <script type="text/javascript">
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');

      var mapOptions = {
        zoom: 10
      };
      handler.buildMap({ provider: mapOptions, internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
    });
  </script>


