<h2>About <%= @user.username %></h2>
<%= link_to 'EDIT', edit_user_registration_path  %>

    <ul class="collection with-header">
     <div class="row">
       <form class="col s12">
       <div>
       <div class="row">
        <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
       <li class="collection-header"> <p class="flow-text"><h5>First Name: <%= @user.first_name %> </h5></li></p>
        </div>
        <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <li class="collection-header"><p class="flow-text"><h5>Last Name : <%= @user.last_name %> </h5></li></p>
        </div>
        <div class="input-field col s6">
        <i class="material-icons prefix">location_on</i>
        <li class="collection-header"><p class="flow-text"><h5>Address : <%= @user.address %> </h5></li>
        </div></p>
        <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <li class="collection-header"><p class="flow-text"><h5>phone number : <%= @user.phone_number %> </h5></li></p>
        </div>
        <div class="input-field col s6">
        <i class="material-icons prefix">videocam</i>
        <li class="collection-header"><p class="flow-text"><h5> skype_username : <%= @user.skype_username %> </h5></li></p>
        </div>
        <div class="input-field col s6">
        <i class="material-icons prefix">label</i>
        <li class="collection-header"><p class="flow-text"><h5>Doctor/patient : <%= @user.role %> </h5></li></p>
        </div>
        <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
        <li class="collection-header"><p class="flow-text"><h5>Email : <%= @user.email %> </h5></li>
        </div></p>

         </div>
  </form>
</div>
<!-- </div> -->


