<div class="container">
<p></p><p></p>
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <%= image_tag('Background2.jpg', :size => '170x170') %>
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
<!--             <div class="card-action">
  <a href="#">This is a link</a>
</div> -->
          </div>
        </div>
      </div>

<h2>About <%= @user.username %></h2>
<%= link_to 'EDIT', edit_user_registration_path  %>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons">account_circle</i> <p>Name: <%= @user.first_name %><%= @user.last_name %></p>
        </div>
        <div class="input-field col s6">
          <i class="material-icons">account_circle</i><p>Last Name : <%= @user.last_name %></p>
        </div>
      </div>
    </form>
  </div>


  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons">location_on</i> <p>Address : <%= @user.address %></p>
        </div>
        <div class="input-field col s6">
          <i class="material-icons">phone</i><p>phone number : <%= @user.phone_number %></p>
        </div>
      </div>
    </form>
  </div>


  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons">videocam</i><p>skype_username : <%= @user.skype_username %></p>
        </div>
        <div class="input-field col s6">
          <i class="material-icons">label</i><p>Doctor/patient : <%= @user.role %></p>
        </div>
      </div>
    </form>
  </div>


  <div class="row">
    <form class="col s12">
      <div class="row">
        <i class="material-icons prefix">email </i><p>Email : <%= @user.email %></p>
      </div>
    </form>
  </div>

</div>
