<div class="row">
  <div class="col s12 m6">
    Your requests:
    <% @requests_patient.each do |request| %>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Request with <%= request.doctor.first_name %></span>
          <p>desc: <%= request.description %></p>
        </div>
        <div class="card-action">
          <%= link_to "Remove request", user_request_path(current_user, request), method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s12 m6">
    Your chat sessions:
    <% @chat_sessions.each do |session| %>
      <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Session with: <%= session.request.patient.first_name %></span>
            </div>
            <div class="card-action">
              <%= link_to "Open session", doctor_dashboard_chat_session_path(session) %>
              <%= link_to "Completed", root_path %>
            </div>
          </div>
      <% end %>
  </div>
</div>
