<div class="homepage">

  <div class="row">
    <% if !current_user %>
      <div class="col s12 m6 center">
        <div class="panel panel-patient">
          <%= link_to "أنا بحاجة للمساعدة", new_user_registration_path(role: "patient"), class: "btn red base btn-large" %>
        </div>
      </div>
      <div class="col s12 m6 center">
        <div class="panel panel-doctor">
          <%= link_to "أنا طبيب", new_user_registration_path(role: "doctor"), class: "btn black base btn-large" %>
        </div>
      </div>
    <% elsif current_user && current_user.role = "doctor" %>
      <div class="col s12 m12 center">
        <%= link_to "Create request", users_path, class: "btn red base btn-large" %>
        <%= link_to "My requests", doctor_dashboard_path(current_user), class: "btn black base btn-large" %>
      </div>
    <% else %>
      <div class="col s12 m12 center">
        <%= link_to "Make a request", users_path, class: "btn red base btn-large" %>
      </div>
    <% end %>
  </div>

  <div class="section-baseline">
    <div class="row text-center">
      <div class="col m12" dir="auto">
        <h2>هل أنت بحاجة لطبيب أو لنصائح طبية؟</h2>
        <p class="light" dir="auto">أنشئ حسابك على PinAdoctor وقم بالبحث عن الأطباء الذين وافقوا على العمل بشكل مجاني بالقرب منك</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <h2 class="text-center"><i class="material-icons md-48">assistant_photo</i></h2>
        <h5 dir="auto">أدخل الموقع والأختصاص</h5>
        <p class="light" dir="auto">جِدْ الطبيب الذي تحتاج من خلال إدخل موقعك والإختصاص المطلوب</p>
      </div>
      <div class="col s12 m4">
        <h2 class="center"><i class="material-icons md-48">local_hospital</i></h2>
        <h5 dir="auto">أرسل طلب للطبيب المختار</h5>
        <p class="light" dir="auto">أرسل للطبيب طلب مع ما تحتاجه و/أو سؤالك</p>
      </div>
      <div class="col s12 m4">
        <h2 class="text-center"><i class="material-icons md-48">question_answer</i></h2>
        <h5 dir="auto">سيقوم الطبيب بمحادثتك بأقرب وقت</h5>
        <p class="light" dir="auto">سيجيبك الطبيب وسيبداء بمحادثتك للترتيب لموعد و/أو سيجيب عن أسئلتك</p>
      </div>
    </div>
  </div>

</div>
