<div class="row jumbo-header">
<% if !current_user %>
  <div class="col s12 m6 center">
    <%= link_to "I NEED HELP", new_user_registration_path(role: "patient"), class: "btn red accent-1 btn-large" %>
  </div>
  <div class="col s12 m6 center">
    <%= link_to "I'M A DOCTOR", new_user_registration_path(role: "doctor"), class: "btn red accent-1 btn-large" %>
  </div>
<% elsif current_user && current_user.role = "doctor" %>
  <div class="col s12 m12 center">
    <%= link_to "Create request", users_path, class: "btn red accent-1 btn-large" %>
    <%= link_to "My requests", doctor_dashboard_path(current_user), class: "btn red accent-1 btn-large" %>
  </div>
<% else %>
  <div class="col s12 m12 center">
    <%= link_to "Make a request", users_path, class: "btn red accent-1 btn-large" %>
  </div>
<% end %>

</div>
<hr>
<div class="container text-center padded features">
  <div class="row">
<!--     <div class="col s12 m6">
      <div class="card-panel  teal lighten-3">
        <span class="white-text"><p class="black-text">Have access to <strong>medical information</strong>, you can browse through libraries of useful knowledge from articles and previous requests</p>
        </span> -->
    <div class="col s12 m3">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons orange600">local_hospital</i></h2>
        <h5 class="center">In need of medecins or medical advices?</h5>
        <p class="light">Create your account on PinAdoctor and find the doctors who accepte to work for free around you!</p>
      </div>
    </div>

    <div class="col s12 m3">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">assistant_photo</i></h2>
        <h5 class="center">1. Enter Location and Specialization</h5>
        <p class="light">Find the doctor you need by typing your location and the specialization you need.</p>
      </div>
    </div>

    <div class="col s12 m3">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">message</i></h2>
        <h5 class="center">2. Create a Request to the choosen doctor</h5>
        <p class="light">Send him a request with what you need and/or your question.</p>
      </div>
    </div>
        <div class="col s12 m3">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">question_answer</i></h2>
        <h5 class="center">3. The doctor will start soon a Chat with you!</h5>
        <p class="light">The doctor is going to anwer you and start a conversation to fix an appointement and/or to answer your questions.</p>
      </div>
    </div>
<!--
    <div class="col s12 m6">
      <div class="card-panel  teal lighten-3">
        <span class="white-text"><p class="black-text">Work <strong>together</strong> and contribute to a solid community foundation for the ones that need help. You can help by any means, food, clothes, ..</p>
        </span>
      </div>
    </div> -->
  </div>
</div>
