<div class="homepage">

  <div class="section-baseline">
    <div class="row text-center">
      <div class="col m12">
        <h2>
          <%= t('home.banner_header') %>
        </h2>
        <p class="light">
          <%= t('home.banner_text') %>
        </p>
      </div>
    </div>
  </div>
<br>
  <div class="row">
    <% if !current_user %>
      <div class="col s12 m6 center">
        <div class="panel panel-patient">
          <%= link_to t('buttons.need_help'), new_user_registration_path(role: "patient"), class: "btn red base btn-large" %>
        </div>
      </div>
      <div class="col s12 m6 center">
        <div class="panel panel-doctor">
          <%= link_to t('buttons.am_doctor'), new_user_registration_path(role: "doctor"), class: "btn black base btn-large" %>
        </div>
      </div>
    <% elsif current_user && current_user.role == "doctor" %>
      <div class="col s12 m12 center">
        <%= link_to t('buttons.my_requests'), doctor_dashboard_path(current_user), class: "btn black base btn-large" %>
      </div>
    <% else %>
      <div class="col s12 m12 center">
        <%= link_to t('buttons.make_request'), users_path, class: "btn red base btn-large" %>
      </div>
    <% end %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <h2 class="text-center"><i class="material-icons md-48">assistant_photo</i></h2>
        <h5><%= t('home.info_header_1') %></h5>
        <p class="light"><%= t('home.info_text_1') %></p>
      </div>
      <div class="col s12 m4">
        <h2 class="center"><i class="material-icons md-48">local_hospital</i></h2>
        <h5><%= t('home.info_header_2') %></h5>
        <p class="light"><%= t('home.info_text_2') %></p>
      </div>
      <div class="col s12 m4">
        <h2 class="text-center"><i class="material-icons md-48">question_answer</i></h2>
        <h5><%= t('home.info_header_3') %></h5>
        <p class="light"><%= t('home.info_text_3') %></p>
      </div>
    </div>
  </div>

</div>
