<nav class="red base">
  <div class="nav-wrapper">
    <%= link_to root_path, class: 'brand-logo', style: "margin-left: 50px;" do %>
      <%= image_tag('logo.png', :size => '50x50') %>
    <% end %>

    <ul class="right hide-on-med-and-down">
      <% if current_user && current_user.role == "patient" %>
        <li><%= link_to patient_dashboard_path(current_user) do %>My dashboard<span class="new badge"></span><% end %></li>
        <li><%= link_to t('navbar.my_profile'), user_path(current_user) %></li>
        <li><%= link_to t('navbar.edit_profile'), edit_user_registration_path(current_user) %></li>
        <li><%= link_to t('navbar.logout'), destroy_user_session_path, method: :delete %></li>
      <% elsif current_user && current_user.role == "doctor" %>
        <li><%= link_to doctor_dashboard_path(current_user) do %>My dashboard<span class="new badge"></span><% end %></li>
        <li><%= link_to t('navbar.my_profile'), user_path(current_user) %></li>
        <li><%= link_to t('navbar.edit_profile'), edit_user_registration_path(current_user) %></li>
        <li><%= link_to t('navbar.logout'), destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t('navbar.login'), new_user_session_path %></li>
      <% end %>
        <li><%= link_to "Arabic", :locale=>'ar'%></li>
        <li><%= link_to "English", :locale=>'en'%></li>
    </ul>
  </div>
</nav>
